@media screen and (max-width:870px) {
    .dashboardMessageEdit.Massage,
    .dashboardMessageEdit.Panel,
    .YTChannelsDisplay.List,
    .YTChannelsDisplay.Contaner {
        transform: translateY(0);
        width: 100%;
        margin: 5px 0;
    }
}

@media screen and (max-width:700px) {
    div#dashboardContent {
        position: inherit;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
    }
    
    div#serverContents {
        height: 100%;
    }

    div#alertsContaner {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateX(0) translateY(-50%);
        width: 100%;
        height: 30%;
    }
}

@media screen and (max-width:445px) {
    div.embedThumbnail,
    img.embedThumbnail {
        width: 50px;
        height: 50px;
    }

    span.embedAuthorName {
        font-size: 0.675rem;
    }

    div.embedTitle {
        font-size: 0.8rem;
    }
    
    div.embedDescription {
        font-size: 0.675rem;
        line-height: 0.8rem;
    }
    
    div.embedFooter {
        font-size: 0.55rem;
    }
}