section {
    position: relative;
    display: flexbox;
    max-height: calc(100vh - (40px * 2));
}

section div.links {
    display: inline-flex;
    font-size: 17px;
    width: 300px;
    cursor: pointer;
    margin: 10px;
    border-radius: 8px;
    background-color: var(--item-color-1);
    box-shadow: 0 5px 6px 1px rgba(0, 0, 0, 0.6);
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.5s;
}

section div.links:hover {
    background-color: var(--item-color-1-h);
}

section div.links img {
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 100%;
    border: solid black 2px;
}

section div.links p {
    margin: auto 0;
}