@keyframes openCommandInfos {
    to {
        opacity: 1;
    }
}

@keyframes commandOpenInfos {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #b27bf23c;
    }
    100% {
        background-color: transparent;
    }
}