@media screen and (max-width:700px) {
    div#controlPanel {
        position: inherit;
        border-right: 0;
        border-bottom: 2px solid rgba(0, 0, 0, 0.733);
        width: 100%;
        height: auto;
    }

    div#contentContaner {
        position: inherit;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
    }

    nav#content {
        position: initial;
        width: 100%
    }

    input#searchInput {
        width: 80%;;
    }

    div.command {
        margin: 25px auto;
        width: 88%;
    }
}