@keyframes langBox {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes linksCell {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes mobileHeaderOpen {
    to {
        transform: translateX(0);
        opacity: 1
    }
}